<%- layout('layouts/boilerplate') %>
    <div class="container">
        <% if (author) { %>
            <a class="return" href="/posts">&#8592; Go Back</a>
        <% } %> 
        <h1 class="main-title"><%= author ? `${author.username}` : 'Quacker' %> Posts</h1>
        <a class="btn btn-lg btn-create" href="/posts/new">Create a new post</a>
        <% for (let post of posts) { %>
            <div class="card card-post">
                <div class="card-body">
                    <div>
                        <a href="/posts/<%= post._id %>"><span class="div-link"></span></a>
                    </div>
                    <a href="/posts?p_author=<%= post.author._id %>" class="card-author">
                        <%= post.author.username %>
                    </a>
                    -
                    <span class="card-date">
                        <%= post.creationString %>
                    </span>
                    <p class="post-body">
                        <%= post.body %>
                    </p>
                    
                </div>
            <% if (post.images.length) { %>
                <div class="card-image">
                    <img src="<%= post.images[0].padSquare %>" alt="Image of post">
                </div>
            <% } %>
            </div>
        <% } %>
        <% if (prevQuery || nextQuery) { %>
            <div class="page-links">
                <% if (prevQuery) { %>
                    <a class="btn btn-md" href="/posts<%= prevQuery %>">Previous Page</a>
                <% } %> 
                <% if (nextQuery) { %>
                    <a class="btn btn-md next-page" href="/posts<%= nextQuery %>  %>">Next Page</a>
                <% } %> 
            </div>
        <% } %> 

    </div>