<%- layout('layouts/boilerplate') %>
    <h1>All Posts from Quacker</h1>
    <a href="/posts/new">Create a new post</a>
    <% for (let post of posts) { %>
        <div class="post-card">
            <p>
                <%= post.body %>
            </p>
            <span class="post-author">
                By <%= post.author %>
            </span>
            -
            <span class="post-date">
                <%= post.date.toLocaleDateString('en-GB') %>
            </span>
            <div>
                <a href="/posts/<%= post._id %>">Details</a>
            </div>
        </div>
        <% } %>