<%- layout('layouts/boilerplate') %>
    <div class="container">
        <div class="card card-post">
            <div class="card-body">
                <p class="post-body">
                    <%= post.body %>
                </p>
                <span class="card-author">
                    By <%= post.author.username %>
                </span>
                -
                <span class="card-date">
                    <%= post.date.toLocaleDateString('en-GB') %>
                </span>
                <div>
                    <a href="/posts/<%= post._id %>/edit" class="btn btn-secondary">Edit</a>
                    <form class="inline-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card card-comments">
            <div class="card-body">
                <div>
                    <h2>Comments</h2>
                    <form class="form needs-validation <%= post.comments.length ? " form-comment" : "" %> "
                        action="/posts/<%= post._id %>/comments"
                            method="POST" novalidate>
                            <div class="form-child">
                                <label for="comment-body" class="hidden">Body: </label>
                                <textarea name="comment[body]" id="comment-body" class="resource-body" cols="50"
                                    rows="5" placeholder="Leave a comment..." maxlength="63206" required></textarea>
                            </div>
                            <button class="btn">Submit</button>
                    </form>
                </div>
                <div>
                    <% if (post.comments.length) { %>
                        <% for (let comment of post.comments) { %>
                            <div class="card card-comment">
                                <div class="card-body">
                                    <p>
                                        <%= comment.body %>
                                    </p>
                                    <span class="card-author">
                                        By <%= comment.author.username %>
                                    </span>
                                    -
                                    <span class="card-date">
                                        <%= comment.date.toLocaleDateString('en-GB') %>
                                    </span>
                                    <div>
                                        <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </div>
    </div>