<%- layout('layouts/boilerplate') %>
    <div class="container">
        <a class="return" href="/posts">&#8592; Go Back</a>
        <div class="card">
            <div class="card-body">
                <a href="/posts?p_author=<%= post.author._id %>" class="card-author">
                    <%= post.author.username %>
                </a>
                -
                <span class="card-date">
                    <%= post.creationString %>
                </span>
                <p class="post-body">
                    <%= post.body %>
                </p>
                <% if (post.images.length) { %>
                    <div>
                        <div id="image-carousel" class="carousel slide" data-bs-interval="false">
                            <div class="carousel-inner">
                                <% post.images.forEach((image, i)=> { %>
                                    <div class="carousel-item <%= (i === 0) ? " active" : "" %>">
                                        <img class="carousel-img" src="<%= image.pad16_9 %>"
                                            alt="Slide number <%= i + 1 %> ">
                                    </div>
                                <% }) %>
                            </div>
                            <% if (post.images.length> 1) { %>
                                <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#image-carousel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <% if (currentUser && post.author.equals(currentUser._id)) { %> 
                    <div>
                        <a href="/posts/<%= post._id %>/edit" class="btn btn-secondary">Edit</a>
                        <form class="inline-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                <% } %> 
            </div>
        </div>
        <div class="card card-comments">
            <div class="card-body">
                <div>
                    <h2>Comments</h2>
                    <form class="form needs-validation <%= post.comments.length ? " form-comment" : "" %> "
                        action="/posts/<%= post._id %>/comments"
                            method="POST" novalidate>
                            <div class="form-child">
                                <label for="comment-body" class="hidden">Body: </label>
                                <textarea name="comment[body]" id="comment-body" class="resource-body" cols="50"
                                    rows="5" placeholder="Leave a comment..." maxlength="2048" required></textarea>
                            </div>
                            <button class="btn">Submit</button>
                    </form>
                </div>
                <div>
                    <% if (post.comments.length) { %>
                        <% for (let comment of post.comments) { %>
                            <div class="card card-comment">
                                <div class="card-body">
                                    <a href="/posts?p_author=<%= comment.author._id %>" class="card-author">
                                        <%= comment.author.username %>
                                    </a>
                                    -
                                    <span class="card-date">
                                        <%= comment.creationString %>
                                    </span>
                                    <p class="post-body">
                                        <%= comment.body %>
                                    </p>
                                    <% if (currentUser && comment.author.equals(currentUser._id)) {%>
                                        <div>
                                            <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    <% } %> 
                                </div>
                            </div>
                         <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>